# API
PORT=3000
WEB_ORIGIN=http://localhost:5173

# Database
DB_HOST=localhost
DB_PORT=5433
DB_USER=decathlon
DB_PASSWORD=decathlon
DB_NAME=decathlon

# Web (Vite)
VITE_API_URL=http://localhost:3000/api

# JWT
JWT_ACCESS_SECRET=dev-access-secret-change-me
JWT_REFRESH_SECRET=dev-refresh-secret-change-me
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d
